<%= render 'layouts/jumbotron' %>
<% @events.each do |event| %>

    <article>
        <div class="container">
            <div class="card my-5" style="width: 20rem;">
                <div class="card-header">
                    <h3 class="card-title"><%= link_to(event.name, event) %></h3>
                    <h4 class="card-title"><%= pluralize(event.capacity, 'seat') %></h4>
                </div>
                <img class="card-img-top"><%= image_for(event)%>                
                <div class="card-body">
                    <p class="card-text"><%= truncate(event.description, length: 35, separator: ' ') %></p>
                    <p class="card-text">When:<%= event.starts_at %></p>
                    <p class="card-text">Where:<%= event.location %>.</p>
                    <p class="card-text">Price: <%= format_price(event) %>.</p>
                </div>
            </div>
        </div>

    </article>        
<% end %>



